<div data-role="header">
  <h1>View Orders</h1>
</div>
<div data-role="content">
<h1><%= @realm.event.name %></h1>
<h2><%= @realm.organization.name %></h2>
<h3>Totals</h3>
<ul data-role="listview" data-inset="true">
<% @optioncounts.each_key do |option| %>
  <li><%= option.price.nil? ? option.name : "#{option.name} [#{number_to_currency option.price}]" %> <span class="ui-li-count"><%= @optioncounts[option] %></span></li>
<% end %>
</ul>
<h3>Orders</h3>
<%= link_to 'Place Order', @realm.token_url, "data-role" => "button", "data-icon" => "plus", "data-iconpos" => "right" %> 
<ul data-role="listview" data-inset="true" data-split-icon="delete">
<% @orders.each do |order| %>
  <li><%= link_to edit_order_path(order) do %><h3><%= order.name %></h3><p><%= order.option %></p><% end %>
   <%= link_to 'Delete', order, :method => :delete, "data-icon" => "delete", "class" => "ui-btn-right" %>
  </li>
<% end %>
</ul>
</div>
