<div data-role="header">
  <h1>View Event</h1>
</div>
<div data-role="content">
<h1><%= @event.name %></h1>
<ul data-role="listview" data-inset="true">
<% @realms.each do |realm| %>
  <li>
  <%= link_to(realm.admin_url, "data-icon" => "edit", "class" => "ui-btn-right") do%>
    <h3><%= realm.organization.name %></h3>
    <ul data-role="listview" data-inset="true">
      <% optioncounts = realm.option_counts %>
      <% optioncounts.each_key do |option| %>
        <li><%= option.name %> <span class="ui-li-count"><%= optioncounts[option] %></span></li>
      <% end %>
    </ul>
    <ul data-role="listview" data-inset="true" data-theme="b">
      <li>Cost <span class="ui-li-count"><%= number_to_currency realm.total_cost %></span></li>
      <li>Paid <span class="ui-li-count"><%= number_to_currency realm.total_paid %></span></li>
      <li>Balance <span class="ui-li-count"><%= number_to_currency realm.balance %></span></li>
    </ul>
  <% end %>
  </li>
<% end %>
</ul>
<h2>Total</h2>
<ul data-role="listview" data-inset="true">
  <% optioncounts = @event.option_counts %>
  <% optioncounts.each_key do |option| %>
    <li><%= option.name %> <span class="ui-li-count"><%= optioncounts[option] %></span></li>
  <% end %>
</ul>
</div>
