<div data-role="header">
  <h1>Step 3/3: Confirmation</h1>
  <%= link_to "Edit", edit_order_path(@order), "data-icon" => "back", :class => "ui-btn-left", "data-direction" => "reverse" %>
</div>
<div data-role="content">
<h1><%= @order.realm.organization.name %></h1>
<h2><%= @order.realm.event.name %></h2>
<ul data-role="listview" data-inset="true">
  <li><h3>Name</h3><p><%= @order.name %></p></li>
  <li><h3>Option</h3><p><%= @order.option.price.nil? ? @order.option.name : "#{@order.option.name} [#{number_to_currency(@order.option.price)}]" %></p></li>
</ul>
<p>Thank you for your order. It is now confirmed. You can either
<%= link_to "Pay Online", pay_order_path(@order), "data-role" => "button", "data-inline" => "true", :rel => "external" %>
or pay in person.</p>
</div>
